.first-screen {
    width: 100%;
    height: 1045px;
    background: url("../img/first-screen-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

//Main menu
.menu-line {
    width: 100%;
    max-width: 1110px;
    margin-top: 51px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main-menu {
    max-width: 75%;
    flex: 5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__item {
        display: block;
        @include p-16b;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
        }
    }
}
.phone {
    flex: 0 0 auto;
    margin-right: 1em;
    @include p-16b;
    &::after {
        display: block;
        content: "";
        border-bottom: 2px solid #d1a954;
        padding-top: 5px;
    }
}

.first-screen__info {
    display: flex;
    flex-flow: row nowrap;
    margin: 191px 1em 0 1em;
    gap: 125px;
    justify-items: space-between;
}

.first-screen__text {
    flex: 1 0;
    & p:first-child {
        height: 68px;
        @include heading-h1-64b;
        text-transform: uppercase;
        padding-top: 53px;
    }
    & p:nth-child(2) {
        height: 79px;
        @include p-14r;
        padding: 50px 0;
    }
    & button {
        width: 160px;
        height: 50px;
        background: $gold;
        color: $white;
        @include p-18b;
    }
}


.first-screen__slider{
    width: 370px;


}


.slide-container {
    width: 370px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    &__img {
        width: 350px;
        height: 490px;
        box-shadow: 20px 20px 2px rgba(209, 169, 84, 0.85);
        z-index: 1;
    }
    &__img-shadow {
        width: 350px;
        height: 490px;
        top: 20px;
        left: 20px;
        position: absolute;
        z-index: -10;
        opacity: 0.15;
    }
}
.slide-navigation {
    margin-top: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.prev,
.next {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 108px;
    height: 25px;
    z-index: 1;
    &:hover {
        cursor: pointer;
    }
}
