.about-theater {
    height: 922px;
}

.about-theater {
    &__title {
        text-align: center;
        color: $white;
        @include h2-48l;
        &::first-letter {
            color: $gold;
        }
    }

    &__blocks {
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
    }

    &__block1 {
        width: 445px;
        height: 292px;
    }

    &__block2 {
        width: 255px;
        height: 292px;
    }

    &__block3 {
        width: 350px;
        height: 292px;
    }
}

.block {
    &__title {
        text-align: left;
        color: $white;
        @include p-21b;
        margin: 0 0 40px 0;
    }
    &__text {
        text-align: left;
        margin: 0;
        color: $white;
        @include p-14r;
        & span {
            color: $gold;
        }
    }
    &__text2 {
        text-align: left;
        margin: 8px 0;
        color: $white;
        @include p-16b;
        & span {
            color: $gold;
        }
    }
}

.block2 {
    &_img {
        width: 70px;
        height: 70px;
    }
}
