.about-theater {
    min-height: 922px;
}

.about-theater {
    &__title {
        margin: 150px 0 100px 0;
        text-align: center;
        color: $white;
        @include h2-48l;
        &::first-letter {
            color: $gold;
        }
    }
    &__blocks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 30px;
        // min-height: 292px;
    }
    &__block1 {
        flex: 1 1 43%;
    }
    &__block2 {
        flex: 1 1 24%;
    }
    &__block3 {
        flex: 1 0 33%;
    }
}

.block {
    &__title {
        text-align: left;
        color: $white;
        @include p-21b;
        margin: 0 0 40px 0;
    }
    &__text {
        text-align: left;
        margin: 0;
        height: auto;
        color: $white;
        @include p-14r;
        & span {
            color: $gold;
        }
    }
    &__text2 {
        text-align: left;
        margin: 8px 0;
        color: $white;
        @include p-16b;
        & span {
            color: $gold;
        }
    }
}

.block2 {
    &_img {
        width: 70px;
        height: 70px;
    }
}
