.mecenat {
    width: 100%;
}
.mecenat-title {
    flex-grow: 0;
    margin: 0 0 100px;
    text-align: center;
    color: $white;
    @include h2-48l;
    & > span {
        color: $gold;
    }
}
.mecenat-blocks {
    display: flex;
    flex-flow: row nowrap;
    // align-items: center;
}

.contacts {
    flex: 0 0 210px;
    text-align: left;
    color: $white;
    text-transform: uppercase;
    @include p-16b;
    & div{
        margin-bottom: 1rem;
    }
}
.mecenat-form {
    // flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.fields1 {
    flex: 1 1 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
    gap: 30px;
    & input {
        flex: 1 1 auto;
        height: 35px;
        color: white;
        border: solid 1px rgb(97, 97, 97);
        background-color: rgb(68, 68, 68);
        padding-left: 0.5rem;
    }
}

.fields2 {
    flex: 1 1 auto;
    & textarea {
        width: 100%;
        height: 100px;
        resize: none;
        border: solid 1px rgb(97, 97, 97);
        background-color: rgb(68, 68, 68);
        padding: 0.5rem 1rem;
        color: white;
    }
}

.fields3 {
    // margin-top: 10px;
    display: flex;
    gap: 150px;
    & button {
        width: 190px;
        height: 50px;
        padding: 0.5rem 2rem;
        color: $white;
        background: $gold;
        @include p-18b;
        font-size: 18px;
    }
    & .form-info {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgb(152, 152, 152);
        // padding: 0.5rem;
    }
}
