.partners {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // max-width: 1110px;
}

.partners-title {
    @include h2-48l;
    flex-grow: 0;
    margin: 150px 0 100px 0;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    & > span {
        color: $gold;
    }
}

.partners-tiles {
    width: 100%;
    max-width: 1110px;
    & .swiper-container {
        width: 100%;
        & .swiper-slide {
            width: 200px;
        }
    }
}

.partner-tile {
    margin: 1rem 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    & div {
        margin-top: 2rem;
        // & img {
        //     top: 0;
        //     left: 0;
        //     object-fit: cover;
        // }
    }
}
