.partners {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.partners-title {
    @include h2-48l;
    flex-grow: 0;
    margin: 150px 0 100px 0;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    & > span {
        color: $gold;
    }
}

.partners-tiles {
    width: 992px;
    // margin: 0 auto;
}

.partner-tile {
    margin: 0 auto;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    & div {
        margin-top: 32px;
    }
}
