.postanovki {
    width: 100vw;
    &__title {
        margin: 50px 0 100px 0px;
        text-align: center;
        color: $white;
        @include h2-48l;
        & span {
            color: $gold;
        }
    }
    &__slider {
        max-width: 1920px;
        height: 550px;
        float: right;
        // padding-left: 150px;
        display: flex;
        & .swiper-container {
            width: 100vw;
        }
    }
}
.slider-card {
    position: relative;
    width: 442px;
    height: 550px;
    background-color: rgba(51, 51, 51, 0.65);
    &__tag1 {
        position: absolute;
        top: 40px;
        left: 40px;
        text-align: left;
        color: $white;
        @include h3-24b;
    }
    &__tag2 {
        position: absolute;
        bottom: 80px;
        left: 0px;
        transform: rotate(-90deg);
        text-align: left;
        color: $white;
        @include p-18b;
    }
    & img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.swiper-slide {
    position: relative;
    width: 442px;
    height: 550px;
}

.slider-card .hovered-link {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    left: 171px;
    top: 225px;

    border-radius: 50%;
    background: rgba(189, 187, 93, 0.7);
    transition: all 0.5s;
    opacity: 0;
}

.slider-card .hovered-link:hover {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.lupa {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    left: 3px;
    top: 4px;
    background: url("../img/magnify.png");
    background-repeat: no-repeat;
    background-position: center center;
}
