// font-family: 'Open Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300;700&display=swap");


@import "reset";
@import "colors";
@import "fonts";
@import "fixed-panel";
@import "first-screen";
@import "main";

//body
.big-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1920px;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    max-width: 1110px;
}

//adaptiveness

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 1200px) {
}
