@import "colors";
@import "fonts";
@import "reset";
@import "fixed-panel";
@import "burger";
@import "first-screen";
// @import "main";

//body
.big-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    max-width: 1110px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

//adaptiveness

@media only screen and (max-width: 576px) {
    .big-wrapper {
        max-width: 576px;
    }
    .menu-line {
        width: 100%;
        justify-content: space-between;
    }
    .main-menu,
    .fixed-panel {
        display: none;
    }
    .burger {
        display: block;
    }

    .first-screen__info {
        padding: 0px 0 0 0;
    }
    .first-screen__slider {
        display: none;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .big-wrapper {
        max-width: 768px;
    }
    .menu-line {
        justify-content: space-between;
        width: 100%;
    }
    .main-menu,
    .fixed-panel {
        display: none;
    }
    .burger {
        display: block;
    }
    .first-screen__info {
        padding: 0px 0 0 0;
    }
    .first-screen__slider {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .big-wrapper {
        max-width: 992px;
    }
    .burger-menu {
        display: none;
    }
    .menu-line {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .main-menu {
        gap: 30px;
    }
    .first-screen__info {
        padding: 114px 0 0 0;
    }
    .first-screen__slider {
        display: none;
    }
    .wrapper {
        padding-left: 191px;
    }
}
