@import "colors";
@import "fonts";
@import "reset";
@import "fixed-panel";
@import "burger";
@import "first-screen";
@import "main-page";
@import "postanovki";
@import "rating";
@import "partners";
@import "mecenat";
@import "footer";

//body
.big-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1110px;
    padding-left: 160px;
    padding-right: 0.5rem;
}

//adaptiveness

@media (max-width: 992px) {
    .first-screen__slider,
    .about-theater__block3 {
        display: none;
    }
    .mecenat-blocks {
        flex-direction: column-reverse;
    }

    .contacts {
        width: 95%;
        flex: 1 0 110px;
        margin: 80px 1rem;
        position: relative;
        & p:nth-child(1) {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }
        & p:nth-child(2) {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
        & p:nth-child(3) {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        & p:nth-child(4) {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .first-screen {
        min-height: 800px;
    }

    .main-menu,
    .fixed-panel {
        display: none;
    }
    .wrapper {
        padding-left: 0px;
    }

    .burger {
        display: block;
        padding-left: 20px;
    }
    .phone {
        padding-right: 20px;
    }
    .first-screen__info {
        padding: 0 20px;
    }
    .first-screen__text p:first-child {
        text-align: left;
    }
    .first-screen__text p:nth-child(2) {
        text-align: left;
    }

    .first-screen__slider {
        display: none;
    }

    .about-theater__block3 {
        display: none;
    }
    .about-theater__title {
        margin: 90px 0 60px 0;
    }
    .rating {
        margin: 90px 0 0 0;
    }
    .block__title,
    .block__text {
        // text-align: center;
        padding: 0 20px;
    }
    .contacts {
        margin: 60px 1rem;
    }
}

@media (max-width: 576px) {
    .first-screen {
        min-height: 600px;
    }

    .main-menu,
    .fixed-panel {
        display: none;
    }
    .burger {
        display: block;
        padding-left: 20px;
    }
    .phone {
        padding-right: 20px;
    }
    .first-screen__text p:first-child {
        font-size: 52px;
        text-align: left;
    }
    .first-screen__text p:nth-child(2) {
        text-align: left;
    }

    .first-screen__info {
        padding: 0 20px;
    }
    .first-screen__slider {
        display: none;
    }
    .about-theater__blocks {
        flex-direction: column;
        align-items: center;
    }
    .about-theater__block1 {
        text-align: center;
    }
    .about-theater__block3 {
        display: none;
    }
    .rating {
        margin: 80px 0 0 0;
    }
    .block__title,
    .block__text {
        text-align: center;
        padding: 0 20px;
    }
    .block-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 60px;
    }
    .mecenat-form {
        flex-direction: column;

        & .fields1 {
            flex: 1;
            width: 95%;
            justify-content: space-between;
        }
        & .fields2 {
            width: 95%;
        }
        & .fields3 {
            gap: 30px;
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    .contacts {
        margin: 50px 1rem;
    }
}
