@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300;700&display=swap");
:root {
  font-size: calc(0.7em + 0.3vw);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  color: #ffffff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

li {
  list-style: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989898;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989898;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989898;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
}

input::placeholder,
textarea::placeholder {
  color: #989898;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 150%;
}

input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}

textarea:active,
textarea:hover,
textarea:focus {
  outline: 0;
  outline-offset: 0;
}

button,
button:hover {
  cursor: pointer;
  border: none;
  background: rgba(17, 17, 16, 0.85);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.fixed-panel {
  position: fixed;
  width: 150px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(51, 51, 51, 0.75);
  z-index: 2;
}

.contact_info {
  position: absolute;
  width: 244px;
  height: 25px;
  left: -45px;
  top: 383px;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.line {
  width: 80px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 38px;
  top: 615px;
}

.social-links {
  position: absolute;
  width: 244px;
  left: -45px;
  top: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.social-link_item {
  background: rgba(51, 51, 51, 0.75);
}

.social-link_img:hover {
  cursor: pointer;
}

.burger {
  width: 27px;
  height: 27px;
  display: none;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.burger-menu {
  margin: 0;
  z-index: 2;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 30px 30px 140px 39px;
  background-color: #333333;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.closeburger-button {
  font-size: 48px;
  font-weight: 700;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.closeburger-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.burger-menu-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  padding: 86px 0 0 0;
}

.burger-menu-line .main-menu__item {
  text-align: left;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.burger-menu-line .main-menu__item:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.burger-soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 89px 0 0 80px;
  gap: 60px;
}

.burger-soc-link_item {
  width: 45px;
  height: 45px;
}

.burger-soc-link_item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.first-screen {
  width: 100%;
  height: 1045px;
  background: url("../img/first-screen-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-line {
  width: 100%;
  margin-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu {
  max-width: 80%;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu__item {
  display: block;
  font-family: "Open Sans Condensed";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.main-menu__item:hover {
  cursor: pointer;
}

.phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 1em;
  font-family: "Open Sans Condensed";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.phone::after {
  display: block;
  content: "";
  border-bottom: 2px solid #d1a954;
  padding-top: 5px;
}

.first-screen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 191px 1em 0 1em;
  gap: 125px;
  justify-items: space-between;
}

.first-screen__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.first-screen__text p:first-child {
  height: 68px;
  font-family: "Open Sans Condensed";
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  padding-top: 53px;
}

.first-screen__text p:nth-child(2) {
  height: 79px;
  font-family: "Open Sans";
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 50px 0;
}

.first-screen__text button {
  width: 160px;
  height: 50px;
  background: #d1a954;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.09em;
}

.first-screen__slider {
  width: 370px;
}

.slide-container {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.slide-container__img {
  width: 350px;
  height: 490px;
  -webkit-box-shadow: 20px 20px 2px rgba(209, 169, 84, 0.85);
          box-shadow: 20px 20px 2px rgba(209, 169, 84, 0.85);
  z-index: 1;
}

.slide-container__img-shadow {
  width: 350px;
  height: 490px;
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: -10;
  opacity: 0.15;
}

.slide-navigation {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prev,
.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  width: 108px;
  height: 25px;
  z-index: 1;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

.about-theater {
  min-height: 922px;
}

.about-theater__title {
  margin: 150px 0 100px 0;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4.8px;
}

.about-theater__title::first-letter {
  color: #d1a954;
}

.about-theater__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.about-theater__block1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
}

.about-theater__block2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 24%;
          flex: 1 1 24%;
}

.about-theater__block3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

.block__title {
  text-align: left;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2.1px;
  margin: 0 0 40px 0;
}

.block__text {
  text-align: left;
  margin: 0;
  height: auto;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 0.8rem;
  line-height: 1.5;
}

.block__text span {
  color: #d1a954;
}

.block__text2 {
  text-align: left;
  margin: 8px 0;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.block__text2 span {
  color: #d1a954;
}

.block2_img {
  width: 70px;
  height: 70px;
}

.postanovki__title {
  margin: 50px 0 100px 0px;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4.8px;
}

.postanovki__title span {
  color: #d1a954;
}

.postanovki__slider {
  max-width: 1920px;
  height: 550px;
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-card {
  position: relative;
  width: 442px;
  height: 550px;
  background-color: rgba(51, 51, 51, 0.65);
}

.slider-card__tag1 {
  position: absolute;
  top: 40px;
  left: 40px;
  text-align: left;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.slider-card__tag2 {
  position: absolute;
  bottom: 80px;
  left: 0px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: left;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.09em;
}

.swiper-slide {
  position: relative;
  width: 442px;
  height: 550px;
}

.slider-card .hovered-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  left: 171px;
  top: 225px;
  border-radius: 50%;
  background: rgba(189, 187, 93, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.slider-card .hovered-link:hover {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.lupa {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  left: 3px;
  top: 4px;
  background: url("../img/magnify.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.rating {
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/first-screen-bg.png");
  margin: 150px 0 0 0;
}

.years {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 182px;
          flex: 0 1 182px;
  height: 298px;
  font-family: "Open Sans Condensed";
  font-size: 72px;
  font-weight: bold;
  line-height: 150%;
  color: #d1a954;
  float: left;
}

.stars {
  min-width: 180px;
  margin: 0em 1em;
  float: left;
  width: 40%;
}

.stars span img {
  width: 26px;
  height: 26px;
  margin: 0.3em;
}

.best-teather {
  margin: 1em 0 0 0;
  font-family: "Open Sans";
  font-size: 2em;
  line-height: 150%;
  font-style: normal;
  font-weight: 700;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-title {
  font-family: "Open Sans Condensed";
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4.8px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 150px 0 100px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.partners-title > span {
  color: #d1a954;
}

.partners-tiles {
  width: 992px;
}

.partner-tile {
  margin: 0 auto;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partner-tile div {
  margin-top: 32px;
}

.mecenat {
  width: 93%;
  margin: 0 auto;
}

.mecenat-title {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0 0 100px;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans Condensed";
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4.8px;
}

.mecenat-title > span {
  color: #d1a954;
}

.mecenat-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.mecenat-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 30px;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.fields1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 30px;
}

.fields1 input {
  max-width: 180px;
  height: 35px;
  color: white;
  border: solid 1px #616161;
  background-color: #444444;
  padding-left: 0.5rem;
}

.fields2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 120px;
          flex: 1 0 120px;
}

.fields2 textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: solid 1px #616161;
  background-color: #444444;
  padding: 0.5rem 1rem;
  color: white;
}

.fields3 {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}

.fields3 button {
  width: 190px;
  height: 50px;
  padding: 1rem 2rem;
  text-align: center;
  color: #ffffff;
  background: #d1a954;
  font-family: "Open Sans Condensed";
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.09em;
}

.fields3 .form-info {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #989898;
  padding: .5rem;
}

.footer {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #565656;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  margin-top: 30px;
}

.footer-left {
  margin: 30px 0em;
}

.footer-right {
  margin: 30px 0em;
}

.big-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  padding-left: 160px;
  padding-right: 0.5rem;
}

@media (max-width: 992px) {
  .first-screen__slider,
  .about-theater__block3 {
    display: none;
  }
  .mecenat-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts {
    width: 95%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 110px;
            flex: 1 0 110px;
    margin: 80px 1rem;
    position: relative;
  }
  .contacts p:nth-child(1) {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .contacts p:nth-child(2) {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  .contacts p:nth-child(3) {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .contacts p:nth-child(4) {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .first-screen {
    min-height: 800px;
  }
  .main-menu,
  .fixed-panel {
    display: none;
  }
  .wrapper {
    padding-left: 0px;
  }
  .burger {
    display: block;
    padding-left: 20px;
  }
  .phone {
    padding-right: 20px;
  }
  .first-screen__info {
    padding: 0 20px;
  }
  .first-screen__text p:first-child {
    text-align: left;
  }
  .first-screen__text p:nth-child(2) {
    text-align: left;
  }
  .first-screen__slider {
    display: none;
  }
  .about-theater__block3 {
    display: none;
  }
  .about-theater__title {
    margin: 90px 0 60px 0;
  }
  .rating {
    margin: 90px 0 0 0;
  }
  .block__title,
  .block__text {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .first-screen {
    min-height: 600px;
  }
  .main-menu,
  .fixed-panel {
    display: none;
  }
  .burger {
    display: block;
    padding-left: 20px;
  }
  .phone {
    padding-right: 20px;
  }
  .first-screen__text p:first-child {
    font-size: 52px;
    text-align: left;
  }
  .first-screen__text p:nth-child(2) {
    text-align: left;
  }
  .first-screen__info {
    padding: 0 20px;
  }
  .first-screen__slider {
    display: none;
  }
  .about-theater__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-theater__block1 {
    text-align: center;
  }
  .about-theater__block3 {
    display: none;
  }
  .rating {
    margin: 80px 0 0 0;
  }
  .block__title,
  .block__text {
    text-align: center;
    padding: 0 20px;
  }
  .block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
  }
  .mecenat-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mecenat-form .fields1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 95%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mecenat-form .fields2 {
    width: 95%;
  }
  .mecenat-form .fields3 {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */